DATABASE_URL=jdbc:postgresql://ep-falling-cherry-a2zt3yfx-pooler.eu-central-1.aws.neon.tech:5432/neondb?user=neondb_owner&password=npg_1yvl6cTkwDUF&sslmode=require&channel_binding=require

BACKEND_PORT=8888