DATABASE_URL=jdbc:postgresql://ep-misty-breeze-a2obd94y-pooler.eu-central-1.aws.neon.tech:5432/neondb?user=neondb_owner&password=npg_MmG0pisfy4xr&sslmode=require&channel_binding=require

BACKEND_PORT=8888